html > body {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

#grid-container {
    display: grid ;
    grid-template-columns: repeat(12,1fr) ;
}
/* @media only screen { ( min-width: 180px) and (max-width:538px){

} */
header {
    font-size: 22px;
    background-color: hotpink;
    text-align: center;
    grid-column: 1/13;
    
}
nav {
    background-color: indigo;
    grid-column:1/5 ;
    

}
nav > div {
    border: 1px solid black;
    text-align: center;
    
}
    main {
        background-color:blue;
        grid-column:5/13 ;
}
     span{
         background-color: yellow;
         grid-column:1/13 ;
     }
 footer {
     font-size: 20px;
     background-color: blueviolet;
     text-align: center;
     grid-column: 1/13;
 }